<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Prediction</title>
</head>

<body>
    <main role="main" class="container">

        <form method="POST" , action="">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Price Prediction</legend>
                <div class="col-md-12">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                {{ form.Marka.label(class="form-control-label") }}
                                {{ form.Marka(class="form-control form-control-lg",) }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.Seri.label(class="form-control-label") }}
                                {{ form.Seri(class="form-control form-control-lg") }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.Model.label(class="form-control-label") }}
                                {{ form.Model(class="form-control form-control-lg") }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                {{ form.Yil.label(class="form-control-label") }}
                                {{ form.Yil(class="form-control form-control-lg") }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.KM.label(class="form-control-label") }}
                                {{ form.KM(class="form-control form-control-lg") }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.Motor_Gucu.label(class="form-control-label") }}
                                {{ form.Motor_Gucu(class="form-control form-control-lg") }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                {{ form.Motor_Hacmi.label(class="form-control-label") }}
                                {{ form.Motor_Hacmi(class="form-control form-control-lg") }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.Yakit.label(class="form-control-label") }}
                                {{ form.Yakit(class="form-control form-control-lg") }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.Vites.label(class="form-control-label") }}
                                {{ form.Vites(class="form-control form-control-lg") }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                {{ form.Kasa_Tipi.label(class="form-control-label") }}
                                {{ form.Kasa_Tipi(class="form-control form-control-lg") }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.Renk.label(class="form-control-label") }}
                                {{ form.Renk(class="form-control form-control-lg") }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.Kimden.label(class="form-control-label") }}
                                {{ form.Kimden(class="form-control form-control-lg") }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.Submit(class="btn btn-outline-info") }}
                        </div>
            </fieldset>
        </form>

        </div>
        </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>